/************************************************************Estilos generales********************************************************************/

* {
    font-family: "Poppins", serif;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li {
    margin: 0;
    padding: 0;
    color: black;
    text-decoration: none;
}

ul,
li {
    list-style: none;
    color: #000000;
}

i {
    background-color: transparent !important;
    padding: 5px;
}

input {
    border: none;
    background: transparent;
    outline: none
}



/***************************************************************Estilos Header********************************************************************/

.logoHeader {
    width: 140px;
    background-color: transparent;
    margin: 3px;
    padding: 3px;
}

.contenedorSuperior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 20px;
    width: 100%;
    height: 100px;
}

.contenedorDerecho {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.contenedorDerecho ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.contenedorDerecho a {
    padding: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

.contenedorDerecho a:hover {
    background-color: gray;
    opacity: 80%;
    color: white;
}

.contenedorDerecho li {
    padding: 15px;
    gap: 10px;
}

.itemNavBar {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.contenedorIzquierdo {
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: transparent;
}

.contenedorIzquierdo div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.contenedorIzquierdo div:hover {
    background-color: gray;
    opacity: 80%;
}

.contenedorIzquierdo div:hover i {
    color: white;
}

.buscar {
    display: flex;
    align-items: center;
    background-color: #c0c0c0;
    padding: 5px 15px;
    border-radius: 5px;
}

.buscar input {
    border: none;
    background: transparent;
    outline: none;
}

.buscar:hover {
    background-color: gray;
    color: white;
    opacity: 80%;
}

.buscar:hover input {
    color: white;
}


/****************************************************************Estilos Main*********************************************************************/

.carouselContenedor {
    width: 100%;
    height: 800px;
    overflow: hidden;
}

.carouselContenedor2 {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.carousel-item img {
    align-items: center;
}

.carousel-control-prev-icon {
    width: 0;
    height: 0;
}

.carousel-control-next-icon {
    width: 0;
    height: 0;
}

/**Galeria productos**/
.contenedorImagen {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 30px 15px;
}

.card {
    flex: 1;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    height: 400px;
    overflow: hidden;
}

.card a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    position: relative;
}

.card img {
    width: 100%;
    height: 100%;
    opacity: 0.6;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.card h3 {
    color: #000000;
    text-align: center;
    font-weight: bold;
    padding: 10px 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    background-color: transparent;
    text-shadow: #000000;
}

.contenedorProductos {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

/**Nombre de la categoria**/
.contenedorSubtitulos {
    display: flex;
    margin: 10px;
    text-align: left;
    font-size: 26px;
    width: 100%;
}

.cardProductos {
    flex: 1;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 100%;
    height: auto;
    border-radius: 10px;
    height: auto;
}

.cardProductos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.infoProductos {
    text-align: left;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

  /*Nombre de la prenda*/
.infoProductos h6 {
    font-size: 24px;
}

.infoProductos p {
    font-size: 16px;
}

.contenedorGaleria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
}

.galeriaProducto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    grid-gap: 10px;
    padding: 10px;
}

.galeriaProducto img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.galeriaProducto h6 {
    font-size: 16px;
}

/**Filtros**/
.dropdown-menu {
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.botonFiltros {
    width: auto;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 20px;
}

.btn-group {
    display: flex;
    justify-content: flex-end;
}

.toggle {
    display: none;
}

.dropdown-toggle::after {
    display: none !important;
}

.boxFiltro {
    padding: 10px;
}

.tituloFiltros {
    font-size: 14px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.icono {
    transition: transform 0.3s ease;
}

.categoriasFiltros {
    padding: 0 !important;
    margin: 0;
}

.toggle:checked + .tituloFiltros + .categoriasFiltros {
    display: block;
}

.toggle:checked + .tituloFiltros .icono {
    transform: rotate(45deg);
}

.categoriaFiltros ol {
    text-align: left;
    margin-top: 10px;
    padding-left: 15px;
}

.categoriasFiltros li {
    padding: 5px 0;
    font-size: 14px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.categoriasFiltros li:hover {
    color: gray;
    opacity: 80%;
}

/**Promos**/
.contenedorPromos {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    text-align: center;
    padding: 60px;
}

.contenedorTexto {
    background-color: gray;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textoPromo {
    text-align: center;
    margin-top: 10px;
}

.contenedorImgPromo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: relative;
}

.contenedorImgPromo img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.contenedorImgPromo button {
    border: none;
    text-decoration: none;
    background-color: gray;
    opacity: 80%;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
}


/**Numeracion Paginas**/
.pagesNum {
    align-items: center;
    justify-content: center;
    color: #000000 !important;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.pagination a,
.pagination span {
    color: black !important;
    padding: 8px 12px;
    text-decoration: none;
    margin: 0 4px;
}

.pagination a:hover {
    background-color: gray;
    color: white !important;
}

/***********************************************************************Footer********************************************************************/

.footer {
    width: 100%;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
    padding: 20px;
    text-align: center;
    border: none;
    box-shadow: none;
}

.registro {
    grid-column: span 3;
    padding: 20px;
}

.registro input {
    margin-top: 10px;
}

.registro input:hover {
    background-color: gray;
    color: white;
    opacity: 80%;
}

.email {
    background-color: #c0c0c0;
    padding: 12px;
    border-radius: 5px;
    align-items: center;
}

.botonSus {
    background-color: #808080;
    padding: 12px;
    border-radius: 5px;
    align-items: center;
    font-weight: 500;
}

.sobreNosotros {
    grid-column: 1;
    grid-row: 2 / 4;
    padding: 20px;
    text-align: left;
}

.sobreNosotros ul li {
    margin-top: 10px;
}

.infoAyuda {
    grid-column: 2;
    grid-row: 2 / 4;
    padding: 20px;
    text-align: left;
}

.infoAyuda ul li {
    margin-top: 10px;
}

.infoContacto {
    grid-column: 3;
    grid-row: 2;
    padding: 20px;
}

.redes a {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #000000;
    transition: all 300ms ease;
}

.redes a:hover {
    color: #808080;
}

.infoSucursales {
    grid-column: 3;
    grid-row: 3;
    padding: 20px;
    text-align: center;
}

.infoSucursales div {
    margin-top: 10px;
}

.infoSucursales input:hover {
    background-color: gray;
    opacity: 80%;
    color: white;
}

.botonMapa {
    background-color: #808080;
    padding: 12px;
    border-radius: 5px;
    align-items: center;
}

.derechos {
    grid-column: span 3;
    text-align: center;
    padding: 20px;
}

.derechos small {
    font-size: 15px;
}

.footer h3 {
    font-size: 20px;
    font-weight: bold;
}

/*********************************************************************Media***********************************************************************/

@media screen and (max-width: 800px) {

    /*header*/
    .logoHeader {
        width: 70px;
        background-color: transparent;
        padding: 3;
    }

    .contenedorSuperior {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }

    .contenedorDerecho {
        display: none;
    }

    .buscar input {
        display: none;
        visibility: hidden;
    }

    .buscar {
        display: block;
        align-items: center;
        padding: 5px 15px;
        border-radius: 5px;
        background-color: transparent;
    }

    /*header*/

    .carouselContenedor {
        height: 200;
    }

    .carousel-control-next-icon {
        width: 100%;
        height: 400px;
    }




    .footer {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }


}