@mixin flexBasico ($display, $justifyValor, $alignValor) {
    display: $display;
    justify-content: $justifyValor;
    align-items: $alignValor;
}

@mixin tamanios($width, $height){
    width: $width;
    height: $height;
}