@use "../utilities/mixins" as *;
@use "../utilities/variables" as*;

.contenedorGridProductos {
    display: grid;
    grid-template-columns: 180px 1fr 1fr;
    gap: 20px;
    padding: 20px;
    align-items: start;
}

.slideFotos {
    display: flex;
    flex-direction: column;
    gap: 10px;

    img {
        @include tamanios(150px, auto);
        cursor: pointer;
        margin-left: 20px;
    }
}

.imagenProducto {
    @include tamanios(100%, auto);
    align-self: center;
    max-width: 620px;
    object-fit: contain;
    align-self: center;

}

.contenedorInfo {
    @include flexBasico(flex, start, start);
    flex-direction: column;
    text-align: left;
}

.info {
    text-align: left;
    padding-top: 10px;

    h1 {
        font-weight: bold;
        margin-bottom: 10px;
    }

    h6 {
        margin-bottom: 10px;
    }
}

@media (max-width: 1000px) {
    .contenedorGridProductos {
            display: inline;
        }

        .slideFotos {
            flex-wrap: wrap;
            justify-content: center;
        }
    
        .slideFotos img {
            width: auto;
        }

    .imagenProducto {
        @include tamanios (100%, auto);
        max-width: 100%;
        display: inline;
    }

    .contenedorInfo {
        grid-column: span 2;
    }
}

@media (max-width: 800px) {
    .contenedorGridProductos {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap: 20px;
    }

    .imagenProducto {
        @include tamanios (100%, auto);
        max-width: 100%;
    }

    .slideFotos {
        flex-wrap: wrap;
        justify-content: center;
    }

    .slideFotos img {
        width: auto;
    }

    .contenedorInfo {
        width: 100%;
        align-items: center;
    }

    .info h1,
    .info h3 {
        text-align: center;
    }

    .tabla,
    .tablaTalles {
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 400px) {
    .slideFotos {
        flex-wrap: wrap;
        justify-content: center;
    }

    .slideFotos img {
        width: auto;
    }

    .imagenProducto {
        max-width: 300px;
    }

    .tablaTalles {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .talle {
        width: 100%;
        max-width: 80px;
    }

    .agregarCarrito2 {
        width: 100%;
        max-width: 300px;
        margin: 20px auto;
    }

    .accordion {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }
}