@use "../utilities/mixins" as *;
@use "../utilities/variables" as*;

.pagination {
    @include flexBasico(flex, center, center);
    margin: 20px auto;

    a {
        color: $colorNegro;
        padding: 8px 12px;
        text-decoration: none;
        margin: 0 4px;

        &:hover {
            background-color: nth($colorGris, 1);
            color: $colorBlanco;
        }
    }

    span {
        color: $colorNegro;
        padding: 8px 12px;
        text-decoration: none;
        margin: 0 4px;
    }
}